:root{
    font-family: 'Times New Roman', Times, serif;
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}

header {
    border-bottom: solid 2px;
    font-family: 'Times New Roman', Times, serif;
    height: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
}

main {
    max-width: 1100px;
    margin: auto;
    padding: 30px;
    font-family: 'Times New Roman', Times, serif;
}